<?xml version="1.0" encoding="utf-8" ?>
<phpdox xmlns="http://phpdox.de/config">
    <project name="name-of-project" source="src" workdir="build/phpdox">
        <collector publiconly="false">
            <include mask="*.php"/>
            <exclude mask="*Autoload.php"/>
        </collector>

        <generator output="build">
            <build engine="html" enabled="true" output="api"/>
            <build engine="todo" enabled="true" output="todo">
                <file name="todolist.txt" encoding="utf-8"/>
            </build>

            <build engine="graph" enabled="false" output="graph">
                <dot executable="/usr/bin/dot" render="true" format="png"/>
            </build>
        </generator>
    </project>
</phpdox>